<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Welcome to the World of Potatoes</title>
</head>
    
<body>
<div id="banner">
    <h1>Potato Types</h1>
</div> <!-- end of banner div -->

<div id="nav_bar">
    <ul>
        <li><a href="http://www.potato.ie/varieties/kerrs-pink/">Kerr Potato</a></li>
        <li><a href= "http://www.potato.ie/varieties/queens/" target="_blank">Queens Potato</a></li>
        <li>Kennebec Potato</li>
    </ul>    
</div> <!-- end of nav_bar div -->
    
<div id="content">
    
    <div id="first_fact">
    <p>The <span class="potato_name">Kerr potato</span> is pink in color</p>
    <!-- image credit: http://www.suttonelms.org.uk/potato%20tubers/kerrs-pink-3.jpg -->
    <img src="images/potato1.jpg" alt= "Kerr Potato Picture">
    </div> <!-- end of first_fact div -->
    
    <div id="second_fact">
    <p>The <span class="potato_name">Queens potato</span> is less original</p>
    <!-- image credit: http://www.suttonelms.org.uk/potato%20tubers/up-to-date.jpg -->
    <img src="images/up-to-date.jpg" alt= "Queens Potato Picture">
    </div> <!-- end of second_fact div -->
  
</div> <!-- end of content div -->
    
</body>    
</html>