<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/static/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="/static/jquery.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1 class="text-muted">Big Red Kittens Go Take Pictures</h1>
      </div>
      <hr/>
      <div>
      
      <form action="upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file"><br /><br />
        <input type="submit" value="Upload">
      </form>
      </div>
    </div>
    <div>
   	<h5>MTW</h5>
    </div>

  </body>
</html>
